.detials-page-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.details-page-wrapper {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

@media (min-width: 768px) {
    .details-page-wrapper {
        margin: 150px;
    }
}

.back-button {
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 30px;
    cursor: pointer;
}

.cross-button {
    font-size: 30px;
    float: right;
    position: relative;
    top: 25px;
    right: 30px;
    cursor: pointer;
}

.details-content {
    margin: 40px;
}

.details-description {
    overflow: auto;
    min-height: 100px;
}
