.detials-page-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.details-page-wrapper {
    position: absolute;
    margin: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

@media (min-width: 768px) {
    .details-page-wrapper {
        margin: 150px;
        margin: 20px;
    }
}

.back-button {
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.cross-button {
    font-size: 30px;
    float: right;
    position: relative;
    cursor: pointer;
}

.details-content {
    overflow: auto;
    height: 100%;
    padding: 20px;
}

@media (min-width: 768px) {
    .details-content {
        margin: 40px;
    }
}

.details-description {
    overflow: auto;
    min-height: 100px;
}

@media (min-width: 768px) {
    .details-content-description {
        padding-right: 20px;
    }
}

.details-image {
    img {
        max-height: 450px;
    }
}

.details-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.details-content-description {
    flex-grow: 1;
}

.details-skeleton {
    flex-flow: column;
    width: 100%;
    padding-right: 20px;
}

@media (min-width: 767px) {
    .details-content-wrapper {
        flex-direction: row;
    }
}